<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <h2>Naruto Anime Character Details</h2>
    <ul>
        <table  border="5">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Rating</td>
            </tr>
        <% results.forEach(function(r) { %>
            <tr>
                <td><%= r.id %></td>
                <td><%= r.name %></td>
                <td><%= r.rating %></td>
            </tr>
            
        <% }); %>
        </table>
    </ul>
</div>
</body>
</html>